.workouts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.workouts-spinner {
  & > div {
    aspect-ratio: 1;
  }
}

@media (max-width: 768px) {
  .workouts__heading {
    text-align: center;
  }
}
